h1 {
  color: green;
  font-family: Courier;
}

body {
  background-color: #d9eff6;
}

.support {
  border-right: none;
}

table {
  background-position-y: 40px;
  margin: auto;
}
th {
  color: #798da3;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid #798da3;
  border-width: 2px;
  width: 200px;
  font-family: "Open Sans", sans-serif;
}
