.settingsContent {
  padding: 0em;
  width: 87.4em;
  height: 88.5%;
  text-align: left;
  position: relative;
  /* margin-top: 2em; */
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.blocks {
  width: 30%;
  border: 2p solid black;
  padding-left: 2em;
  padding-top: 2em;
}

.socialAccs {
  display: inline-block;
  width: 700px;
  height: 200px;
  border-radius: 12px;
  border: 2px solid rgb(137, 166, 190);
  margin-bottom: 2em;
}

.socialHeader {
  height: 35%;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(13, 138, 240);
}

.socialH {
  font-size: 40px;
  padding-top: 0.3em;
  font-weight: 700px;
  margin: 0px;
}

.socialHeader .logo {
  width: 50px;
  padding: 0.5em 1em;
}

.socialBody {
  border-radius: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(210, 210, 210);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00c71b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00c71ba9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  top: 5px;
  float: right;
  margin-right: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
