#submitnewacc {
  margin-top: 0em;
  margin-right: 20em;
  width: 10em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border: 2px solid #798da39a;
  border-radius: 3em;
  padding: 1em 2.5em;
  background-color: white;
  color: #798da3;
  transition: 0.2s;
}

#setupacc {
  position: fixed;
}

#startpic {
  width: 40%;
  height: auto;
  margin-top: 5%;
  border-radius: 15px;
  float: right;
  margin-right: 7em;
}

#accBox {
  border-radius: 15px;
  overflow: auto;
  height: 38em;
  width: 100%;
  border: 5px solid gray;
  background-color: rgba(75, 186, 238, 0.5);
}

#accSubmit {
  float: right;
  margin: 2em 0em 0em 0em;
}

.smLogo {
  border-radius: 12px;
  margin: 1em 1em 0em 1em;
  width: 300px;
  height: 300px;
}

.smCBxLabel {
  color: rgb(15, 71, 139);
  font-size: 30px;
}

#submitnewacc:hover {
  background-color: #798da39a;
  color: white;
  border: 2px solid white;
}

.modal {
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  background-color: #d9eff6d0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  padding: 7rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.514);
  z-index: 1000;
  transition: all 0.3s;
}

h1 {
  font-size: 100px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 0px;
  font-size: 50px;
}

#login {
  float: right;
}

#loginform {
  float: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.signUpError {
  color: red;
  margin-bottom: 3px;
}

.signUpSuccess {
  color: rgb(24, 102, 24);
  margin-bottom: 3px;
}

.container {
  width: 100%;
  display: inline-table;
  position: relative;
  padding-left: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-left: 4em;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: rgb(59, 71, 84);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
