form {
  color: #3b4754;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #d9eff6;
}

.support {
  border-right: none;
}

hr {
  border: 1px solid #798da3;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
  font-size: 50px;
}

hr {
  background-color: #798da3;
}

th {
  color: #798da3;
  border-right: 2px solid #798da3;
  line-height: 10px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
}

.logo {
  padding-left: 3em;
  text-align: left;
  border-right: none;
}

.logoutbt {
  width: 10em;
  font-family: "Roboto", sans-serif;
  border: 2px solid #798da39a;
  border-radius: 3em;
  padding-bottom: 1px;
  background-color: white;
  color: #798da3;
  transition: 0.2s;
}

.logoutbt:hover {
  background-color: #798da39a;
  border: 2px solid white;
  color: white;
}
